{% load map_icons %}
<div id="location-info-container">
	<div class="location-address">
		<strong>{{ location.town }}</strong>, {{ location.region.name }} <br />
		<small>{{ location.address }}</small>
	</div>

	<div class="location-items">
	{% for base_station in items %}
		<div class="location-item">
			<img src="{{ STATIC_URL }}map_icons/{{ base_station|get_icon }}" class="location-network-icon" />
			<div class="location-item-details">
				{{ base_station.network.name }}
				{% if base_station.location_details != location.address %}
					<br/><small>{{ base_station.location_details }}</small>
				{% endif %}
				<p>
					<small>
						{% for support in base_station.get_supported_standards_and_bands %}
							{{ support.standard }}{{ support.band }}
							{% if forloop.last %}
								<a class="location-info fancybox fancybox.ajax" href="{% url 'bts:bts-extended-info-view' base_station.id %}">Szczegóły...</a>
							{% endif %}
						{% empty %}
							Brak szczegółowych danych...
						{% endfor %}
					</small>
				</p>
			</div>
			<div class="cr"></div>
		</div>
	{% endfor %}
	</div>

	<div class="location-info-footer">
		GPS: {{ location.latitude }},{{ location.longitude }}
	</div>
</div>