<div id="status-panel-body" class="panel panel-default panel-transparency">
    <div class="panel-heading">
        <strong>Źródło:</strong> <span id="status-data-source" class="status-panel-element">?</span>&nbsp;&nbsp;
        <strong>Zoom:</strong> <span id="status-zoom" class="status-panel-element">?</span>&nbsp;&nbsp;
        <strong>Lokalizacje:</strong> <span id="status-locations-count" class="status-panel-element">?</span>
        <span id="status-panel-gps">
            &nbsp;&nbsp;<strong>GPS:</strong> <span id="status-gps" class="status-panel-element">?</span>
        </span>
    </div>
</div>