{% load map_icons %}
<div id="location-info-container">
{% for item in items %}
	{% if forloop.first %}
		<div class="location-address">
			{% if location.location != '' %}
				<strong>{{ location.location.town }}</strong><br/>
				<small>{{ location.location.address }}</small>
			{% else %}
				<strong>{{ item.permissions.0.town }}</strong><br/>
				<small>{{ item.permissions.0.address }}</small>
			{% endif %}
		</div>
	<div class="location-items">
	{% endif %}
		<div class="location-item">
			<img src="{{ STATIC_URL }}map_icons/{{ item|get_icon }}" class="location-network-icon" />
			<div class="location-item-details">
				{{ item.network.name }}
				<p>
				<small>
				{% for support in item.supported %}
					{{ support.standard }}{{ support.band }}
					{% if forloop.last %}
						<a class="location-info fancybox fancybox.ajax" href="{% url 'uke-location-extended-info-view' location.id item.network.code %}">Szczegóły...</a>
					{% endif %}
				{% endfor %}
				</small>
				</p>
			</div>
			<div class="cr"></div>
		</div>
	{% if forloop.last %}
	</div>
	{% endif %}
{% endfor %}

	<div class="location-info-footer">
		GPS: {{ location.latitude }},{{ location.longitude }}
	</div>
</div>
