{% extends 'site/layout.html' %}

{% block extrahead %}
<style type="text/css">

.container {
  width: 100% !important;
}

.container .form-group ul {
  list-style: none;
  padding: 0;
}

@media (max-width: 960px) {
    .container .form-group ul li {
        display: inline-block !important;
    }
    .container .form-group ul li+li {
        margin-left: 0.5em !important;
    }
}

</style>
{% endblock extrahead %}

{% block main-content-container %}
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                {% block sidebar-content %}{% endblock %}
            </div>
            <div class="col-md-10">
                {% block main-content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}