{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Language" content="pl-PL" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <title>{% block page-title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static "libs/fancybox/jquery.fancybox.css" %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% static "libs/bootstrap/css/bootstrap.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/btsearch.css" %}" />
</head>
<body>

    <div id="topbar-container">
        <ul class="lt">
            <li class="header"><a href="/">btsearch.pl</a></li>
            <li><a href="/">Mapa</a></li>
            <li><a href="{% url 'bts:listing' %}">Baza danych</a></li>
            <li><a href="/about">O serwisie</a></li>
            <li><a href="/tutorial">Poradnik</a></li>
            <li><a href="/export">Eksport CLF</a></li>
            <li><a href="/api">API</a></li>
            <li><a href="/contact">Kontakt</a></li>
        </ul>
        <ul class="rt">
            <li class="static"><strong>Śledź nas &raquo;</strong> <a href="http://twitter.com/btsearch">Twitter</a></li>
        </ul>
        <div class="cr"></div>
    </div>

    <div id="header-container">
        <div class="lt">
            <img src="{% static "img/btsearch-logo-main.png" %}" border="0" width="157" height="55" alt="Logo" />
            <form id="search-form" action="{% block search-form-action %}{% endblock %}" method="get">
                <input type="text" id="search-box" value="{% block current-search-query %}{% endblock %}" name="query" />
                <input type="submit" id="search-submit" value="Szukaj" />
            </form>
        </div>
        <div class="rt">
            <div id="google-ad-box">Google ad box</div>
        </div>
        <div class="cr"></div>
    </div>

    {% block main-content-container %}{% endblock %}
    {% block extra-content %}{% endblock %}

    {# Core JavaScript libs #}
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "libs/fancybox/jquery.fancybox.pack.js" %}"></script>
    <script type="text/javascript" src="{% static "libs/bootstrap/js/bootstrap.js" %}"></script>

    {# Additional, context-specific JavaScript scripts #}
    {% block extrascripts %}{% endblock extrascripts %}

</body>
</html>
