{% load static %}
{% load flatpages %}
{% get_flatpages as flatpages %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Language" content="pl-PL" />
    <meta name="robots" content="index,follow" />
    <meta name="keywords" content="mapa, bts, uke, lokalizacje, maszty, nadajnik, nadajniki, btsearch, urząd komunikacji elektronicznej, gsm, dcs, umts, 3g, hsdpa" />
    <meta name="description" content="BTSearch: baza stacji bazowych sieci komórkowych w Polsce; mapa lokalizacji stacji bazowych w oparciu o ogólnodostępny wykaz pozwoleń radiowych Urzędu Komunikacji Elektronicznej (UKE) oraz własną bazę danych." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <title>BTSearch :: {% block page-title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static "libs/fancybox/jquery.fancybox.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "libs/bootstrap3/css/bootstrap.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/btsearch.css" %}?v={{ version }}" />
    {% block extrahead %}{% endblock extrahead %}
</head>
<body>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="sr-only">Nawigacja</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static "img/btsearch-logo-main.png" %}" border="0" height="30" alt="Logo" style="padding: -10px; margin: -6px;" /></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-collapse">
        {% block search-form %}{% endblock search-form %}

        <ul class="nav navbar-nav">
          <li><a href="{% url 'home' %}">Mapa</a></li>
          <li><a href="{% url 'bts:listing' %}">Baza danych</a></li>
          <li><a href="/komunikat/" id="news-ticker-trigger"><span class="text-danger">Dlaczego mapa nie wyświetla się poprawnie?</span></a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <!-- <li><a href="/nowosci/" id="news-ticker-trigger"><span class="text-danger">Co nowego?</span></a></li> -->
          <li><a href="/o-serwisie/">O serwisie</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Więcej <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'bts:export-filter-view' %}">Eksport danych CLF</a></li>
              <li><a href="/interpretacja-danych-mapy/">Interpretacja danych na mapie</a></li>
              <li><a href="/tutorial/">Tutorial monitoringu</a></li>
              <li><a href="/kontakt/">Kontakt</a></li>
              <li class="divider"></li>
              <li><a href="http://btsearch.pl/galeria/">Galeria BTS</a></li>
              <li><a href="http://jdtech.pl/2014/11/jak-daleko-mam-do-bts-sieci-komorkowej.html">Jak daleko mam do BTS? <i>(artykuł)</i></a></li>
              <li><a href="https://play.google.com/store/apps/details?id=pl.sly.apps.btsearchpoland"><span class="text-danger">Aplikacja dla Androida</span></a></li>
              <li><a href="http://twitter.com/btsearch">Twitter @btsearch</a></li>
              <li><a href="http://github.com/adlorenz/btsearch">Kod źródłowy serwisu</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>

    {% block main-content-container %}{% endblock %}
    {% block extra-content %}{% endblock %}
    {% block footer %}
        <div class="container">
          <div class="text-right text-muted footer">
            &copy;2000-{% now "Y" %} Krzysztof Niemczyk, Dawid Lorenz
          </div>
        </div>
    {% endblock footer %}

    {# Core JavaScript libs #}
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "libs/fancybox/jquery.fancybox.pack.js" %}"></script>
    <script type="text/javascript" src="{% static "libs/bootstrap3/js/bootstrap.js" %}"></script>

    {% include "partials/google_analytics.html" %}

    {# Additional, context-specific JavaScript scripts #}
    {% block extrascripts %}{% endblock extrascripts %}

    <script type="text/javascript">
      $(function(){
        $('#news-ticker-trigger').fancybox({
          'type': 'ajax'
        });
      });
    </script>

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- beta1 -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:234px;height:60px"
         data-ad-client="ca-pub-0983719504949481"
         data-ad-slot="1526805792"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>


    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- beta 2 -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:468px;height:60px"
         data-ad-client="ca-pub-0983719504949481"
         data-ad-slot="3410308071"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

</body>
<!-- {{ version}} -->
</html>
