#lpMap {
  width: 650px;
  height: 400px;
  border: 1px solid black;
  padding: 2px;
  display: block;
  margin-right:10px
}
#lpMap label, #lpMap input, #lsMap label, #lsMap input {
  display: inline !important;
  float:none !important
}

#lsMap{
  width: 650px;
  height: 400px;
  border: 1px solid black;
  padding: 2px;
  display: block;
  margin-right:10px
}

#selected_location {
	width: 400px;
	margin-left: 5px;
	border: none;
}

.location_coords, .location, .location_selected{
    display:none
}

.aligned .vTextField, .location_info input, #id_location_selected{
    width:500px
}

#id_location_selected{
    margin-left:5px
}