#map-container {
  position: fixed;
  width: 100%;
  height: auto;
  top: 51px;
  bottom: 0;
  left: 0;
  right: 0;
}

#map {
  height: 100%;
  width: 100%;
}

#map img {
  max-width: none;
}

#control-panel-container {
  position: relative;
  padding: 8px;
  z-index: 199;
  min-width: 240px;
  max-width: 300px;
}

#status-panel-container {
  position: relative;
  padding: 8px 8px 8px 0px;
  z-index: 99;
}

#waiting-label-container {
  margin: 4px;
  padding: 4px 6px 4px 6px;
  z-index: 99;
  background: red;
  display: none;
}

#googlead-panel-container {
  position: relative;
  padding: 8px;
  z-index: 199;
}

#googlead-panel {
  width: 234px;
  height: 60px;
}

#control-panel-body {
  overflow: auto;
}

#control-panel-container .glyphicon {
    font-size: 11pt;
}

/* Found on http://stackoverflow.com/questions/806000/css-semi-transparent-background-but-not-text */
.panel-transparency {
  background: rgb(255, 255, 255) transparent;
  background: rgba(255, 255, 255, 0.9);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

@media (max-width: 960px) {
  #status-panel-gps { display: none; }
}

@media (max-width: 650px) {
  #status-panel-container { display: none; }
  #googlead-panel-container { display: none; }
  #control-panel-container { padding: 0px; }
}

@media (max-width: 400px) {
  /* Hide map mode switcher */
  .gm-style-mtc { display: none; }
}

@media (max-height: 500px) {
  #ad-panel { display: none; }
  #googlead-panel-container { display: none; }
}

@media (max-height: 400px) {
  #control-panel-container { bottom: 0px; }
  #control-panel-subcontainer { overflow: auto; height: 100%; }
  #control-panel-body { overflow: hidden; }
}

img.location-network-icon {
  margin-right: 7px;
  margin-top: 3px;
}

.location-address {
  padding: 2px 0px;
}

.location-item {
  margin-bottom: 3px;
  border-top: 1px solid #bdbdbd;
  padding-top: 2px;
}

#CookielawBanner .container {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 100%;
  background-color: rgb(85, 85, 85);
  color: rgb(255, 255, 255);
  font-size: 8pt;
  z-index: 10000;
}