{% load static %}

<div id="control-panel-subcontainer" class="panel panel-default panel-transparency">
    <div class="panel-heading">
        <span id="control-panel-header-title">Filtr lokalizacji</span>
        <button id="control-panel-header-icon" type="button" class="btn btn-default btn-xs pull-right">
            <span class="caret"></span>
        </button>
    </div>
    <div id="control-panel-body" class="panel-body">

        <div id="control-panel-search-results"></div>

        <div id="control-panel-location-info"></div>

        <div id="control-panel-filters">

            <p>
                <strong>Źródło danych</strong>&nbsp;<a id="data-source-help-icon" href="#data-source-help"><i class="glyphicon glyphicon-question-sign"></i></a>
            </p>
            <p>
                <label class="radio-inline">
                    <input type="radio" name="data-source" value="locations" checked /> BTSearch
                </label>
                <label class="radio-inline">
                    <input type="radio" name="data-source" value="ukelocations" /> UKE
                </label>
            </p>
            <p>
                <label class="checkbox-inline">
                    <input type="checkbox" id="timedelta-filter" name="timedelta-filter" class="timedelta-filter" value="30" /> <span title="Wyświetl lokalizacje uaktualnione w ciągu ostatnich 30 dni">Wyświetl najnowsze</span>
                </label>
            </p>
            <p>
                <span id="bts-last-update-date"><small>Ost. akt.: {{ bts_last_update_date|date:"d.m.Y" }} ({{ bts_last_update_date|timesince }})</small></span>
                <span id="uke-last-update-date" style="display: none;"><small>Ost. akt.: {{ uke_last_update_date|date:"d.m.Y" }} ({{ uke_last_update_date|timesince }})</small></span>
            </p>

            <p>
                <strong>Sieć</strong>
            </p>
            <p>
                <select name="network" id="network-filter">
                    <option value="-1">Wszystkie sieci</option>
                    <optgroup label="Główni operatorzy">
                        <option value="26001">Plus</option>
                        <option value="26002">T-Mobile</option>
                        <option value="26003">Orange</option>
                        <option value="26006">Play</option>
                    </optgroup>
                    <optgroup label="Pozostali">
                        <option value="26016">Mobyland</option>
                        <option value="26017">Aero2</option>
                        <option value="26015">CenterNet</option>
                        <option value="26011">Nordisk</option>
                        <option value="26010">Sferia</option>
                    </optgroup>
                    <optgroup label="Inne konfiguracje">
                        <option value="26034">NetWorks!</option>
                        <option value="26001,26017,26016">Plus+LTE+Aero2</option>
                    </optgroup>
                    {% comment %}
                    {% for network in networks %}
                    <option value="{{ network.code }}">{{ network.name }}</option>
                    {% endfor %}
                    {% endcomment %}

                </select>
            </p>


            <div class="row">
                <div class="col-xs-4">
                    <p>
                        <strong>Standard</strong>
                    </p>
                    {% for standard in standards %}
                    <label class="checkbox">
                        <input type="checkbox" id="standard-filter-{{ standard.0|lower }}" name="standard-{{ standard.0|lower }}" class="standard-filter" value="{{ standard.0|lower }}" /> {{ standard.0 }}
                    </label>
                    {% endfor %}
                </div>
                <div class="col-xs-3">
                    <p>
                        <strong>Pasmo</strong>
                    </p>
                    {% comment %}
                    {% for band in bands %}
                    <label class="checkbox">
                        <input type="checkbox" id="band-filter-{{ band.0 }}" name="band-{{ band.0 }}" class="band-filter" value="{{ band.0 }}" /> {{ band.0 }}
                    </label>
                    {% endfor %}
                    {% endcomment %}
                    <label class="checkbox">
                        <input type="checkbox" id="band-filter-900" name="band-900" class="band-filter" value="900" /> 900
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" id="band-filter-1800" name="band-1800" class="band-filter" value="1800" /> 1800
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" id="band-filter-2100" name="band-2100" class="band-filter" value="2100" /> 2100
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" id="band-filter-800" name="band-800" class="band-filter" value="800" /> 800
                    </label>
                </div>
                <div class="col-xs-3">
                    <p>
                        &nbsp;
                    </p>
                    <label class="checkbox">
                        <input type="checkbox" id="band-filter-420" name="band-420" class="band-filter" value="420" /> 420
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" id="band-filter-450" name="band-450" class="band-filter" value="450" /> 450
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" id="band-filter-850" name="band-850" class="band-filter" value="850" /> 850
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" id="band-filter-2600" name="band-2600" class="band-filter" value="2600" /> 2600
                    </label>
                    <label class="checkbox">
                        <input type="checkbox" id="band-filter-3500" name="band-3500" class="band-filter" value="3500" /> 3500
                    </label>
                </div>
            </div>

        </div>

    </div>
</div>
