<div id="status-panel-body" class="panel panel-default panel-transparency">
    <div class="panel-heading">
        <strong>Źródło:</strong>&nbsp;<span id="status-data-source" class="status-panel-element">?</span>&nbsp;&nbsp;
        <strong>Zoom:</strong>&nbsp;<span id="status-zoom" class="status-panel-element">?</span>&nbsp;&nbsp;
        <strong>Lokalizacje:</strong>&nbsp;<span id="status-locations-count" class="status-panel-element">?</span>
        <span id="status-panel-gps">
            &nbsp;&nbsp;<strong>GPS:</strong>&nbsp;<span id="status-gps" class="status-panel-element">?</span>
        </span>
        <span id="status-panel-distance" style="display: none;">
            <br /><strong>Dystans:</strong>&nbsp;<span id="status-distance" class="status-panel-element">?</span> km&nbsp;&nbsp;
            <strong>TA:</strong>&nbsp;<span id="status-ta" class="status-panel-element">?</span>&nbsp;&nbsp;
            <strong>GPS markera:</strong>&nbsp;<span id="status-gps-marker" class="status-panel-element">?</span>
        </span>
        <span id="status-panel-distance-info" class="status-panel-element" style="display: none;"><br/><small>Pomiar odległości dostępny po kliknięciu markera prawym przyciskiem myszki</small></span>
    </div>
</div>