{% load map_icons %}
<div id="location-info-container-extended">
{% for permission in permissions %}
    {% if forloop.first %}
        <div class="location-address no-border">
            <img src="{{ permission|get_icon }}" class="location-network-icon pull-left" />
            <strong>{{ network.name }}</strong> ({{ network.code }})
            {% if permission.station_id %}
                ID: <abbr title="Identyfikator wewnętrzny operatora">{{ permission.station_id }}</abbr>
            {% endif %}<br/>
            <small>
                {{ permission.town }}{% if permission.address %}, {{ permission.address }}{% endif %}
            </small>
        </div>

        <div>
            <table class="table table-bordered table-condensed location-info">
                <tr>
                    <th>Standard</th>
                    <th>Pasmo</th>
                    <th>Nr stacji</th>
                    <th>Nr pozwolenia</th>
                    <th><abbr title="P=pozwolenie; zmP=zmiana pozwolenia">Typ</abbr></th>
                    <th>Data ważności</th>
                </tr>
    {% endif %}
                <tr>
                    <td>{{ permission.standard }}</td>
                    <td>{{ permission.band }}</td>
                    <td>{{ permission.station_id }}</td>
                    <td>{{ permission.case_number }}</td>
                    <td>{{ permission.case_type }}</td>
                    <td>{{ permission.expiry_date }}</td>
                </tr>
    {% if forloop.last %}
            </table>
        </div>
        <div class="location-info-footer small pull-right">
            Data aktualizacji: {{ permission.date_updated|date:"d.m.Y" }}
        </div>
    {% endif %}
{% endfor %}
</div>
