{% load map_icons %}
<div id="location-info-container-extended">

    <div class="location-address no-border">
        <img src="{{ base_station|get_icon }}" class="location-network-icon pull-left" />
        <strong>{{ base_station.network.name }}</strong> ({{ base_station.network.code }})
        {% if base_station.station_id %}
            ID: <abbr title="Identyfikator wewnętrzny operatora">{{ base_station.station_id }}</abbr>
        {% endif %}<br/>
        <small>
            {{ base_station.location.town }},
            {% if base_station.location_details %}
                {{ base_station.location_details }}
            {% else %}
                {{ base_station.location.adddress }}
            {% endif %}
        </small>
    </div>

    <div>
        <table class="table table-bordered table-condensed table-responsive location-info">
            <tr>
                <th>Standard</th>
                <th>Pasmo</th>
                <th>LAC</th>
                <th>CID</th>
                <th>RNC</th>
                <th>CID 16b</th>
                <th>Nośna</th>
                <th>Uwagi</th>
            </tr>
    {% for cell in base_station.get_cells %}
            <tr {% if not cell.is_confirmed %}class="danger" title="Komórka nie potwierdzona"{% endif %}>
                <td>{{cell.standard}}</td>
                <td>{{cell.band}}</td>
                <td>{{cell.lac}}</td>
                <td>{{cell.cid}}</td>
                {% if cell.standard == 'UMTS' %}
                <td>{% if base_station.rnc == 0 %} ? {% else %} {{base_station.rnc}} {% endif %}</td>
                <td>{{cell.cid_long}}</td>
                <td>{% if cell.ua_freq == 0 %} ? {% else %} {{cell.ua_freq}} {% endif %}</td>
                {% endif %}
                {% if cell.standard != 'UMTS' %}
                <td colspan="3" style="text-align: center;">nie dotyczy</td>
                {% endif %}
                <td>{% if cell.notes %}{{ cell.notes }}{% else %}--{% endif %}</td>
            </tr>
    {% endfor %}
        </table>
    </div>

    <div class="location-info-footer small pull-right">
        Data aktualizacji danych: {{ base_station.date_updated|date:"d.m.Y" }}
    </div>
</div>
