{% extends "site/browse.html" %}
{% load clf_tags %}

{# Template for testing purposes only #}
{% block main-content %}
{% if cells %}{% for cell in cells %}{{ cell.base_station.network.code }};{{ cell.cid|stringformat:"05d" }};{{ cell.lac|stringformat:"05d" }};{% if cell.standard == 'UMTS' %}{{ cell.base_station.rnc|stringformat:"05d" }}{% else %}00000{% endif %};{{ cell.base_station.location.latitude|stringformat:".6f" }};{{ cell.base_station.location.longitude|stringformat:".6f" }};-1;{% if not cell.is_confirmed %}[?]{% endif %}{{ cell.base_station.location.town }}, {% if cell.base_station.location_details %}{{ cell.base_station.location_details }}{% else %}{{ cell.base_station.location.address }}{% endif %} [{{ cell|metadata }}];0{{ return_char }}
{% endfor %}{% endif %}
{% endblock main-content %}