# Core packages
Django==1.5
South==0.8.2
# MySQL-python==1.2.5
#uwsgi==1.9.19
Fabric==1.6.0

# Extensions
django-braces==1.2.2
django-extensions==1.2.5
arrow==0.4.2

# Debugging
#django-debug-panel==0.7.2
#django-debug-toolbar==1.0
