Django==1.5
Fabric==1.6.0
MySQL-python==1.2.4
django-braces==1.2.2
South==0.8.2
django-extensions==1.2.5
uwsgi==1.9.19
arrow==0.4.2

# Weird issue with PyPi, package not complete when pulled from there, wtf?!
# Pulling directly from github instead for time being
#django-cookie-law==1.0.0
-e git://github.com/TyMaszWeb/django-cookie-law.git#egg=django-cookie-law
