DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',
        'USER': 'btsearch_user',
        'PASSWORD': 'secret',
        'HOST': 'localhost',
        'NAME': 'btsearch',
        'SECRET_KEY': 'secret'
    }
}